header {
    background-color: green;
    color: white;
    font-size: 45px;
    text-align: center;
    width:70%;
    font-style: italic;
    background-image: "";
}
header p {
    text-align: start;
}